[loggers]
keys=root,hemppa

[handlers]
keys=console

[formatters]
keys=hemppa

[logger_root]
level=INFO
handlers=console

[logger_hemppa]
level=NOTSET
handlers=
propagate=1
qualname=hemppa

[handler_console]
class=StreamHandler
level=NOTSET
formatter=hemppa
args=(sys.stdout,)

[formatter_hemppa]
format=%(levelname)s - %(name)s - %(message)s
class=logging.Formatter
